html{
    font-size: 62.5%;
}

/* kalam-300 - latin */
@font-face {
    font-family: 'Kalam';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url('../fonts/kalam-v11-latin-300.eot');
    /* IE9 Compat Modes */
    src: local('Kalam Light'), local('Kalam-Light'),
        url('../fonts/kalam-v11-latin-300.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/kalam-v11-latin-300.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/kalam-v11-latin-300.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/kalam-v11-latin-300.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/kalam-v11-latin-300.svg#Kalam') format('svg');
    /* Legacy iOS */
}

/* kalam-regular - latin */
@font-face {
    font-family: 'Kalam';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/kalam-v11-latin-regular.eot');
    /* IE9 Compat Modes */
    src: local('Kalam'), local('Kalam-Regular'),
        url('../fonts/kalam-v11-latin-regular.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/kalam-v11-latin-regular.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/kalam-v11-latin-regular.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/kalam-v11-latin-regular.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/kalam-v11-latin-regular.svg#Kalam') format('svg');
    /* Legacy iOS */
}

/* kalam-700 - latin */
@font-face {
    font-family: 'Kalam';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('../fonts/kalam-v11-latin-700.eot');
    /* IE9 Compat Modes */
    src: local('Kalam Bold'), local('Kalam-Bold'),
        url('../fonts/kalam-v11-latin-700.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/kalam-v11-latin-700.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/kalam-v11-latin-700.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/kalam-v11-latin-700.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/kalam-v11-latin-700.svg#Kalam') format('svg');
    /* Legacy iOS */
}

.fw,
.fw *:not(.fas):not(.fab) {
    font-family: 'Kalam', cursive;
}

.fw{
    background-color: #eeeeee;
    position: relative;
}

.fw .pri-nav{
    position: fixed;
    height: 80px;
    display: grid;
    align-items: center;
    background-color: #eeeeee;
    width: 100%;
}

.fw .pri-nav ul{
    max-width: 96rem;
    margin: 0 auto;
    width: 100%;
    padding: 0 10px;
}

.fw .pri-nav .logo{
    background: cyan;
    color: #014468;
    padding: 10px;
    font-size: 20px;
    margin-right: 30px;
}

.fw .pri-nav li {
    display: inline-block;
}

.fw .pri-nav a {
    text-decoration: none;
    font-size: 18px;
}

.fw .pri-nav a:not(.logo) {
    border-bottom: 1px dotted;
    color: blue;
}

.fw .pri-nav a:not(.logo):hover {
    border-bottom: 1px solid;
    color: #014468;
}

.fw .pri-nav li:after {
    content: "|";
    margin: 0 10px;   
}

.fw .pri-nav li:first-child:after,
.fw .pri-nav li:last-child:after {
    content: "";
}

.fw .spacer {
    padding-top: 80px;
}

.fw .container{
    max-width: 96rem;
    margin: 0 auto;
}

.fw .content{
    padding: 10px;
}

.fw .blurb{
    background: whitesmoke;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 2px 1px 5px 1px teal;
}