body {
    background-color: #eeeeee;
}

/* .container {
    height: 100vh;
    background: url('../images/6.jpg') bottom no-repeat transparent;
    background-size: cover;
} */

.container,
.container *:not(.fas):not(.fab) {
    font-family: 'Lato', sans-serif;
}

.content {
    max-width: 960px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.no-bullets {
    list-style-type: none;
}

.sshare ul {
    padding: 0;
}

.sshare li {
    display: inline-block;
    margin-right: 14px;
}

.sshare i {
    font-size: 28px;
    color: white;
    font-weight: 900;
}

.blurb .name h1 {
    font-size: 42px;
    margin-bottom: 10px;
    line-height: 1.44;
    font-weight: 300;
}

.blurb .name .tag {
    font-size: 22px;
    font-weight: 300;
    line-height: 1.29;
    margin-bottom: 30px;
}

.cta {
    display: inline-block;
    padding: 15px 28px 13px 28px;
    color: #fff;
    background-color: #2A2F34;
    border-radius: 5px;
    text-align: left;
    transition: background-color 200ms linear;
    text-transform: uppercase;
    text-decoration: none;
    vertical-align: middle;
}

.cta.pri {
    background-color: #2A8DF4;
}

.cta.sec {
    background-color: #587798;
}

.cta_icon {
    float: left;
    margin-right: 10px;
}

.cta_text {
    float: left;
    position: relative;
}

.cta_action {
    display: block;
    margin-bottom: 3px;
    font-weight: 300;
    font-size: 12px;
    letter-spacing: 0.57px;
    text-transform: uppercase;
}

.cta_kind {
    display: block;
    font-weight: 900;
    font-size: 16px;
    letter-spacing: 0.8px;
    text-transform: uppercase;
}

.pri-nav li {
    display: inline-block;
}

.pri-nav li:after {
    content: "|";
    padding: 10px;
}

.pri-nav li:last-child:after {
    content: "";
}

.pri-nav a {
    text-decoration: none;
    text-transform: uppercase;
}