body {
    background-color: #eeeeee;
}

.container,
.container * {
    font-family: 'Dancing Script', cursive;
}

.container {
    max-width: 720px;
    margin: 0;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    width: calc(100% - 40px);
    display: block;
    padding: 0 5px;
}

.post-hdr{
    margin: 20px 0 50px 0;
}

.post-hdr .photo{
    display: inline-block;
    width: 70px;
    vertical-align: middle;
    border-radius: 50%;
    margin-right: 30px;
    -webkit-box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
	-moz-box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
	box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
}

.post-hdr .hmpg-link{
    text-decoration: none;
}

.post-hdr .title{
    font-size: 48px;
    color: black;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 25px;
}

.post-hdr h3{
    font-size: 18px;
}

.post-hdr .author{
    font-size: 28px;
    color: black;
    display: inline-block;
    margin-bottom: 10px;
}

.post-hdr a .title{
    border-bottom: black 1px dotted;
}

.post-link{
    font-size: 36px;
    margin-bottom: 10px;
    text-decoration: none;
    display: inline-block;
}

.post-date{
    font-size: 20px;
    margin-bottom: 30px;
    display: block;
}

.post-excerpt{
    font-size: 28px;
}

.post-excerpt p{
    padding-bottom: 20px;
}

.posts .post-excerpt hr{
    width: 30%;
    margin: 20px 0;
}

.posts .post-excerpt hr:last-child{
    border: none;
}

.post-cnt p{
    font-size: 26px;
    line-height: 1.44;
    margin-bottom: 30px;
}