body {
    background-color: #eeeeee;
}

.container,
.container * {
    font-family: 'Dancing Script', cursive;
}

.container h1,
.container h1 *,
.container h2,
.container h2 *,
.container h3,
.container h3 *,
.container .post-date,
.posts hr,
.posts hr *{
    font-family: 'Megrim', cursive;
}

.container {
    max-width: 720px;
    margin: 0;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    width: calc(100% - 40px);
    display: block;
    padding: 0 5px;
}

.post-hdr{
    margin: 20px 0 50px 0;
}

.post-hdr .photo{
    display: inline-block;
    width: 70px;
    vertical-align: middle;
    border-radius: 50%;
    margin-right: 30px;
    -webkit-box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
	-moz-box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
	box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
}

.post-hdr .hmpg-link{
    text-decoration: none;
}

.post-hdr .title{
    font-size: 48px;
    color: black;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 25px;
}

.post-subtitle{
    font-size: 32px;
    line-height: 1.167em;
    margin-bottom: 2em;
    font-weight: bold;
    position: relative;
}

.post-subtitle:after{
    content: '\2217\2013\2013\2013\2013\2013\2217';
    position: absolute;
    top: 1.5rem;
    left: 0;
}

.lb_post .post-hdr:after {
    content: '\2217\2013\2013\2013\2013\2013\2013\2013\2217';
    font-size: 2em;
}

.post-hdr h3{
    font-size: 18px;
}

.post-hdr .author{
    font-size: 28px;
    color: black;
    display: inline-block;
    margin-bottom: 10px;
}

.post-hdr a .title{
    border-bottom: black 1px dotted;
}

.post-link{
    font-size: 36px;
    margin-bottom: 10px;
    text-decoration: none;
    display: inline-block;
}

.post-date{
    font-size: 20px;
    margin-bottom: 30px;
    display: block;
}

.post-excerpt{
    font-size: 28px;
}

.post-excerpt p{
    padding-bottom: 20px;
}

.post-cnt p{
    font-size: 26px;
    line-height: 1.44;
    margin-bottom: 30px;
}

hr{
    margin: 40px 0;
    position: relative;
    border-bottom: 1px dashed black;
    border-top: none;
    font-size: .8em;
}

hr:before{
    content: attr(data-symbol);
    position: absolute;
    left: 50%;
    background: #eee;
    padding: 0.2em 2em;
    transform: translate(-50%, -50%);
    border: black inset;
    border-width: 0 2px;
}

