.lb_post * i,
.lb_post * em {
    font-style: oblique
}

.lb_post * sub,
.lb_post * sup {
    font-size: 60%;
    vertical-align: sub
}

.lb_post * sup {
    vertical-align: super
}

.lb_post .pri-0 {
    font-size: 32px;
    line-height: 1.1875em;
    margin-bottom: .3125em;
    font-weight: 200
}

.lb_post h1,
.lb_post .pri-1 {
    font-size: 28px;
    line-height: 1.214em;
    margin-bottom: .3571em;
    font-weight: 200
}

.lb_post h2,
.lb_post .pri-2 {
    font-size: 24px;
    line-height: 1.167em;
    margin-bottom: .625em;
    font-weight: 300;
    margin-top: 1.05em
}

.lb_post h2:first-child,
.lb_post .pri-2:first-child {
    margin-top: 0
}

.lb_post h3,
.lb_post h4,
.lb_post h5,
.lb_post .pri-3,
.lb_post .pri-4,
.lb_post .pri-5 {
    font-size: 20px;
    line-height: 1.2em;
    margin-bottom: .5em;
    font-weight: 300
}

.lb_post h3 a,
.lb_post .pri-3 a {
    font-weight: 400
}

.lb_post p,
.lb_post h6,
.lb_post h6.bold,
.lb_post .pri-6,
.lb_post .pri-6.bold,
.lb_post dd,
.lb_post dt,
.lb_post li {
    font-size: 16px;
    line-height: 1.375em;
    margin-bottom: .9375em;
    font-weight: 300
}

.lb_post li,
.lb_post li a {
    line-height: 1.25em;
    margin-bottom: .625em
}

.lb_post li a {
    font-weight: 400
}

.lb_post p.util {
    font-size: 14px;
    line-height: 1.286em;
    margin-bottom: .714em;
    font-weight: 300
}

.lb_post p strong,
.lb_post p.util strong {
    font-weight: 400
}

.lb_post a {
    color: #007493;
    text-decoration: none
}

.lb_post a.dotted {
    border-bottom: 1px dotted
}

.no-touch .lb_post a.dotted:hover {
    border-bottom: 1px solid
}

.no-touch .lb_post a:hover {
    color: #005073;
    text-decoration: none
}

.no-touch .lb_post a:active {
    color: #6f53bc
}

.touch .lb_post a:hover,
.touch .lb_post a:active {
    text-decoration: none
}

.lb_post li:last-child,
.lb_post dd:last-child {
    margin-bottom: 0
}

.lb_post hr {
    height: 1px;
    border: 0;
    background-color: #ccc;
    color: #ccc;
    font-size: 14px;
    margin-bottom: 1.429em
}

.lb_post ul,
.lb_post ol,
.lb_post dl {
    margin-bottom: 1.429em
}

.lb_post ul {
    list-style-type: disc
}

.lb_post ul.no-bullets {
    list-style-type: none
}

.lb_post ol {
    list-style-type: decimal
}

.lb_post ol.u-alpha {
    list-style-type: upper-alpha
}

.lb_post ol.l-alpha {
    list-style-type: lower-alpha
}

.lb_post ol.u-roman {
    list-style-type: upper-roman
}

.lb_post ol.l-roman {
    list-style-type: lower-roman
}

.lb_post ul li {
    margin-left: 14px
}

.lb_post ul.no-bullets li {
    margin-left: 0
}

.lb_post ol li {
    margin-left: 20px
}

.lb_post dt {
    clear: left;
    float: left;
    margin-right: 6px;
    color: #444
}

.lb_post dd {
    margin-bottom: 14px
}

@media only screen and (min-width:37.5em) {
    .lb_post {
        margin-bottom: 30px
    }

    .lb_post .pri-0 {
        font-size: 46px;
        line-height: 1.217em;
        margin-bottom: .2174em
    }

    .lb_post h1,
    .lb_post .pri-1 {
        font-size: 36px;
        line-height: 1.222em;
        margin-bottom: .2778em
    }

    .lb_post h2,
    .lb_post .pri-2 {
        font-size: 28px;
        line-height: 1.214em;
        margin-top: 1.09em;
        margin-bottom: .7143em;
        font-weight: 200
    }

    .lb_post h3,
    .lb_post h3 i,
    .lb_post h3 em,
    .lb_post .pri-3,
    .lb_post .pri-3 i,
    .lb_post .pri-3 em {
        font-size: 22px;
        line-height: 1.273em;
        margin-bottom: .46em;
        font-weight: 100
    }

    .lb_post h3 a,
    .lb_post .pri-3 a {
        font-weight: 300
    }

    .lb_post h4,
    .lb_post h4.bold,
    .lb_post .pri-4,
    .lb_post .pri-4.bold {
        font-size: 20px;
        line-height: 1.2em;
        margin-bottom: 1em
    }

    .lb_post p,
    .lb_post h6,
    .lb_post h6.bold,
    .lb_post .pri-6,
    .lb_post .pri-6.bold {
        line-height: 1.5em
    }
}

@media only screen and (min-width:48em) {
    .lb_post {
        margin-bottom: 40px
    }

    .lb_post .pri-0 {
        font-size: 64px;
        line-height: 1.1875em;
        margin-bottom: .15625em
    }

    .lb_post h1,
    .lb_post .pri-1 {
        font-size: 46px;
        line-height: 1.217em;
        margin-bottom: .22em
    }

    .lb_post h2,
    .lb_post .pri-2 {
        font-size: 38px;
        line-height: 1.211em;
        margin-bottom: .526em;
        margin-top: 1.08em
    }

    .lb_post h3,
    .lb_post h3 i,
    .lb_post h3 em,
    .lb_post .pri-3,
    .lb_post .pri-3 i,
    .lb_post .pri-3 em {
        font-size: 28px;
        line-height: 1.286em;
        margin-bottom: .4em
    }

    .lb_post h4,
    .lb_post h4.bold,
    .lb_post h5,
    .lb_post h5.bold,
    .lb_post .pri-4,
    .lb_post .pri-4.bold,
    .lb_post .pri-5,
    .lb_post .pri-5.bold {
        font-size: 22px;
        line-height: 1.27em;
        margin-bottom: .909em
    }

    .lb_post p,
    .lb_post p a,
    .lb_post p i,
    .lb_post p em,
    .lb_post h6,
    .lb_post h6.bold,
    .lb_post .pri-6,
    .lb_post .pri-6.bold,
    .lb_post dd,
    .lb_post dt,
    .lb_post li,
    .lb_post li a {
        font-size: 18px;
        line-height: 1.44em;
        margin-bottom: .833em
    }

    .lb_post p.util,
    .lb_post .util * {
        font-size: 14px;
        line-height: 1.429em;
        margin-bottom: .714em
    }
}