<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ page.title }}</title>

    <!-- link to main stylesheet -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,900" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
        integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="/assets/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/homepage.css">

    <!-- scripts -->
    <script src="/assets/js/particles.min.js"></script>
</head>

<body class="lb_home">
    <div class="container">
        <canvas class="header__background" width="3344" height="1374" style="width: 100%; height: 100%;"></canvas>

        <div class="content">
            <nav class="pri-nav">
                <ul class="no-bullets">
                    <li><a class="home" href="/">Home</a></li>
                    <!-- <li><a class="resume" href="/resume">Resume</a></li> -->
                    <li><a class="blog" href="/blog">Blog</a></li>
                </ul>
            </nav>
            {{ content }}
        </div><!-- /.content -->
    </div>

    <script>
        window.onload = function () {
            Particles.init({
                selector: '.header__background',
                color: '#75A5B7',
                maxParticles: 130,
                connectParticles: true,
                responsive: [{
                    breakpoint: 768,
                    options: {
                        maxParticles: 80
                    }
                }, {
                    breakpoint: 375,
                    options: {
                        maxParticles: 50
                    }
                }]
            });
        };
    </script>
</body>

</html>